<table>
    <tr>
        <th>รหัสสินค้า (SKU)</th>
        <th>ชื่อสินค้า</th>
        <th>หมวดหมู่</th>
        <th>ราคา</th>
        <th>สต็อก</th>
        <th>การจัดการ</th>
    </tr>
    <tr *ngFor="let item of data">
        <td class="text-center">{{item.sku}}</td>
        <td class="text-left">{{item.name}}</td>
        <td class="text-left">{{item.category}}</td>
        <td class="text-right"><input type="number" class="text-right" value="{{item.price | number:'1.2-2'}}" (change)="changePrice($event, item.id)"> บาท</td>
        <td class="text-center" [ngClass]="{'out-of-stock': item.stock === 0, 'less-than-10': item.stock !== 0 && item.stock < 10}">{{item.stock}}</td>
        <td class="same-line">
            <input [disabled]="item.stock === 0" type="number" class="text-right" value="{{item.stock === 0 ? null : 1}}" (change)="changeSellQuantity($event, item.id)"><button (click)="sell(item.id)" [disabled]="item.stock === 0">ขาย</button>
        </td>
    </tr>
    <tr>
        <td class="text-center" colspan=3>สรุป</td>
        <td class="text-right">{{ totalPrice | number:'1.2-2' }} บาท</td>
        <td class="text-center">{{ totalStock }}</td>
        <td class="text-right">
            รวม {{ totalValue | number:'1.2-2' }} บาท
        </td>
    </tr>
</table>
