<div class="custom-filter">
    <app-dropdown class="select-category" (ddlChange)="selectedCategory($event)"></app-dropdown>
    <div>
        <input [(ngModel)]="keyword" class="text-left keyword-search" type="search" (change)="keywordChange($event)" >
        <button class="button-custom" (click)="search()">Search</button>
    </div>
    <button class="button-custom" (click)="priceUpdate()">Price Update</button>
</div>

<app-product-list [data]="products" (sellClick)="sell($event)" (priceChange)="priceUpdating($event)"></app-product-list>
